<%- include('./partials/header') %>

<table id="list">
    <thead>
      <tr>
        <!-- <th>Title</th>
        <th>Category</th>
        <th></th> -->
      </tr>
    </thead>
    <tbody>
      <% tools.forEach(function(t){ %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.category %></td>
          <td><%= t.license %></td>
          <td><a href="/aidb/<%= t._id %>">Click</a></td>
        </tr>

        <% }); %>
      <td><% tools.title %></td>
      
    </tbody>


  </table>



<%- include('./partials/footer') %>