<%- include('./partials/header') %>

<div id="list">

        
      <% tools.forEach(function(t){ %>
        <div class="tool_div">
          <button class="tool"><%= t.title %></button>
          <button class="tool"><%= t.category %></button>
          <button class="tool"><%= t.license %></h3>
          <button class="tool"><a href="/aidb/<%= t._id %>">Click</a></td>
      </div>

        <% }); %>
      <td><% tools.title %></td>
      



  </div>



<%- include('./partials/footer') %>