<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIDB ~ AI Tools Database</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <style>
    /* body{
      margin: 0;
      background-color: rgb(215, 215, 215);
    } */

    body{
      margin: 0;
      /* background-color: rgb(215, 215, 215); */
      /* background-image: url('https://cdn.pixabay.com/photo/2017/01/31/17/55/background-2025984_1280.png'); */
      background-image: url('https://cdn.pixabay.com/photo/2020/10/14/16/14/space-5654794_1280.png');
      background-size: cover;
      background-repeat: repeat;
    }


    /* a{
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } */

    a{
      font-size: large;
      font-family: 'Ubuntu', sans-serif;
      /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    }

    #show-page>div{
      font-size: large;
      /* color: beige; */
    }

    .dir{
      color: beige;
    }

    .index_button{
      height: 6vh;
      width: 24vh;
      border-style: revert;
      border-radius: 41px;
      font-family: 'Ubuntu', sans-serif;
    }

    img{
      height: 13px;
      width: 13px;
    }

    .navbar {
     height: 19vh;
     border-style: ridge;
     border-radius: 14px;
      width: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2vh;
      /* background-image: url('https://cdn.pixabay.com/photo/2020/12/06/16/16/cosmos-5809271_1280.png'); */
      /* background-image: url('https://cdn.pixabay.com/photo/2021/08/07/14/36/modern-6528732_1280.png'); */
      background-image: url('https://cdn.pixabay.com/photo/2017/01/17/22/49/background-1988348_1280.png');
      background-repeat: repeat;
      background-size: cover;
      font-family: 'Ubuntu', sans-serif;
}

    .delete_button{
      background-color: bisque;
    }

  #list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
  height: 46vh;
  border: solid;
  padding: 30px;
  border-color: aliceblue;
  font-family: 'Ubuntu', sans-serif;
}

.tool_div {
  display: flex;
  border: solid;
  border-style: groove;
  border-radius: 12px;
  min-height: 200px;
  min-width: 201px;
  flex-direction: column;
  justify-content: space-between;
  border-color: snow;
  padding: 38px;
  border-width: 13px;
  opacity: 5;
  background-image: url('https://cdn.pixabay.com/photo/2017/07/08/10/24/orange-2484007_1280.png');
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;

}

.intro {
  height:25px;
  width: 90px;
  border-style: inset;
  border-radius: 32px;
  margin-left: 50px;
  border-width: 16px;
  font-weight: bolder;
  background-image: url('https://cdn.pixabay.com/photo/2021/08/07/14/36/stripes-6528728_1280.png');
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.tool {
  height: 51px;
  border-style: inset;
  border-width: 7px;
  width: 192px;
  border-radius: 5px;
  font-weight: bold;
  pointer-events: none;
}


.upvote_btn {
  height: 36px;
  width: 78px;
  border-radius: 24px;
  margin-left: 55px;
}

#add-review-form {
 height: 149px;
 width: 705px;
 border: solid;
 border-style: dashed;
 margin-left: 302px;
}

.table_top{
   margin-left: 460px;
   border: solid;
   border-style: outset;
}


  </style>
</head>



  <body>
    <nav class="navbar">
      <a href="/aidb"><button class="index_button"><b>AIDB</b>🏡</button></a>
  
      <% if (user) { %>
        <a href="/aidb/new"><button class="index_button">➕ AI Tool</button></a>
        <a href="/logout"><button class="index_button">🚪Logout</button></a>
        <% } else { %>
          <a href="/auth/google" class="login"><button class="index_button"><img src="https://i.imgur.com/FHjYyi0.png">Log In</button></a>
        <% } %>
    </nav>

<div id="list">

<div class="tool_div">
    <button class="intro">Title</button>
    <button class="tool">
      <%= tool.title %>
    </button>
    <button class="intro">Category</button>
    <button class="tool">
      <%= tool.category %>
    </button>
    <button class="intro">Develope</button>
    <button class="tool">
      <%= tool.developers %>
    </button>
    <button class="intro">Licese</button>
    <button class="tool">
    <%= tool.license %>
    </button>
    <button class="intro">Upvotes</button>
    <button class="tool"><%= tool.upvote.length %></button>
    <% if (user) { %>
    <form id="add-upvote" method="POST" action="/aidb/<%= tool._id %>?_method=PUT">
    <button class="upvote_btn" type="submit">👍</button>
    </form>
    <% } else { %>
      <p>You must be logged to upvote </p>
      <% } %>
    </div>



  
</div>



  <% if (user) { %>
    <div class="review_top">
    <form id="add-review-form" method="POST" action="/aidb/<%= tool._id %>/review">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
    <% } else { %>
      <p>Please Login to leave a review</p>
    <% } %>
    </div>


        <!-- // Create a list of reviews here -->

        <% if (tool.reviews.length) { %>
            <table class="table_top">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Date</th>
                  <th>Review</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% tool.reviews.forEach(function(r) { %>
                  <tr>
                    <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>


                    <td>
                      <%= r.content %>
                    </td>
                    <td>
                      <%= r.rating %>
                    </td>
                    <td>
                      <% if (user && user._id.equals(r.user)) { %>
                        <form action="/aidb/reviews/<%= r._id %>?_method=DELETE" method="POST">
                          <button class="delete_button" type="submit">X</button>
                        </form>
                      <% } %>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <% } else { %>
              <h5>No Reviews Yet</h5>
              <% } %>
                <%- include('../aidb/partials/footer') %>





<%- include('../aidb/partials/footer') %>
