<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIDB ~ AI Tools Database</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <style>
    body{
      margin: 0;
      background-color: rgb(215, 215, 215);
    }
    a{
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #show-page>div{
      font-size: large;
      /* color: beige; */
    }

    .dir{
      color: beige;
    }

    img{
      height: 13px;
      width: 13px;

    }

  </style>
</head>

<body>
  <nav>
    <a href="/aidb"><button><b>AIDB</b>🏡</button></a>
    &nbsp;|&nbsp;
    <!-- <a href="/flights/new">EDIT</a> -->
    &nbsp;|&nbsp;
    <!-- <a href="/flights">EDIT</a> -->

    <!-- <img src="/images/camera.svg"> -->

    <% if (user) { %>
      <a href="/aidb/new"><button>➕ AI Tool</button></a>
      <a href="/logout"><button>🚪Logout</button></a>
      <% } else { %>
        <a href="/auth/google" class="login"><button><img src="https://i.imgur.com/FHjYyi0.png">Log In</button></a>
      <% } %>
  </nav>

<section id="show-page">
    <div>Title: </div>
    <div>
      <%= tool.title %>
    </div>
    <div>Category: </div>
    <div>
      <%= tool.category %>
    </div>
    <div>Developer: </div>
    <div>
      <%= tool.developers %>
    </div>
    <div>Licese:</div>
    <%= tool.license %>
    <div>Upvotes:</div>
    <%= tool.upvote %>
    
  </section>



  <% if (user) { %>
    <form id="add-review-form" method="POST" action="/aidb/<%= tool._id %>/review">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
    <% } else { %>
      <p>Please Login to leave a review</p>
    <% } %>


        <!-- // Create a list of reviews here -->

        <% if (tool.reviews.length) { %>
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>Date</th>
                  <th>Review</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% tool.reviews.forEach(function(r) { %>
                  <tr>
                    <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td>
                      <%= r.createdAt.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= r.content %>
                    </td>
                    <td>
                      <%= r.rating %>
                    </td>
                    <td>
                      <% if (user && user._id.equals(r.user)) { %>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                          <button type="submit">X</button>
                        </form>
                      <% } %>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <% } else { %>
              <h5>No Reviews Yet</h5>
              <% } %>
                <%- include('../aidb/partials/footer') %>





<%- include('../aidb/partials/footer') %>
